table {
    width: 100%;
  }

  .mat-toolbar {
    background-color: white;
  }
  .mat-header-cell {
    background-color: #00a99d;
    color: white;
  }

  .make-selected{
    background-color: #8ae2dc;
  }

  .mat-column-actions {
    flex: none;
    width: 20%;
}
.mat-column-address {
  flex: none;
  width: 20%;
}